* {
  margin: 0%;
  padding: 0%;
}

h1{
  color:red;
   margin: 30%;
   width: 40%;
   background-color: green;
   position:initial;
   right: 30%;
}

body {
  background-color: #85c1e9;
}

header.main{
  background-color: #85c1e9;
  width: 90%;
  max-width: 1000px;
  margin: 20% auto;
}


header nav {
  background-color: orange;
  overflow: hidden;
}


 
header nav ul {
  list-style: none;
}

header nav ul li {
  float: left;
}
header nav ul li a {
  padding: 8px 130px;
  color: white;
  text-decoration: underline;
  display: block;
}

header nav ul li a:hover {
  background-color: red;
  transition: 2s;
  transform: scale(1.1);
}



.logotipo {
  height: 200px;
  background-color: cyan;
}

.imglogo {
  height: 100%;
  width: 400px;
  margin: auto;
  display: block;
}

.imgcentro{
  padding: 10px 118.6px;
  height: 100px;
  width: 15%;
  
}



/* IMAGENES */

.titulo{
  color:#f6a664;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}
.portafolio{
  background:#85c1e9;
}

.galeria-port{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen-port{
  width: 25%;
  height: 200px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(255, 0, 0, 0.5);
}

.imagen-port > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hover-galeria{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: rgba(6, 103, 132, 0.7);
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hover-galeria img{
  width: 50px;
}

.hover-galeria p{
  color: #fff;
}

.imagen-port:hover .hover-galeria{
  transform: scale(1);
}
/* CIERRE IMAGENES */

/*Imagen Nuestros servicios */

.servicio-cont{
  justify-content: center;
  flex-direction:row;
  display:inline-flex;

}

.servicio-ind{
  width: 100%;
  text-align: center;
}

.servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
  margin-bottom: 60px;
}

.servicio-ind img{
  width: 90%;
}
.about-services{
    background:#85c1e9;
    padding-bottom: 30px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
    color: springgreen;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
    color: white;

}


/*Imagen Nuestros servicios */

.compra h2{
  color: green;
}

/*contenedor*/
#contenedor {
  width: 90%;
  margin: 20px auto; 
  display: flex;
  max-width: 1000px;
}

#contenedor {
  width: 90%;
  margin: 20px auto;
  display: flex;
  max-width: 1000px;
}

.card {
  height: 100%;
  width: 50%;
  text-align: center;
  margin: 5px;
}

.facebook{
  height: 50px;
  width: 15%;
  margin: auto;
}

.instagram{
  height: 50px;
  width: 15%;
  margin: auto;
}

.youtube{
  height: 50px;
  width: 15%;
  margin: auto;

}


footer {
  background-color: rgb(212, 73, 73);
  clear: both;
  color: rgb(33, 230, 108);
  text-align: center;
  padding: 10px 0px;
}
